src/main/mule/apdev-examples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="081c2ea2-47bc-4b4f-8a7f-4a64d43c36a1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="890bccfa-ee04-4fba-8649-a302c0d3bda2" >
		<http:request-connection host="localhost" port="8081" />
	</http:request-config>
	<flow name="helloFlow" doc:id="0e11f09f-be10-4233-818d-4a66a32d71f8" >
		<http:listener doc:name="GET /hello" doc:id="a01f5caa-19ea-46e9-9e16-e7bfce136c3e" config-ref="HTTP_Listener_config" path="/hello" allowedMethods="GET">
			<ee:repeatable-file-store-stream inMemorySize="1024" />
			<http:response reasonPhrase="success" >
				<http:headers ><![CDATA[#[output application/java
---
{
	"name" : vars.firstname
}]]]></http:headers>
			</http:response>
		</http:listener>
		<set-variable value="#[attributes.queryParams.lname]" doc:name="firstname" doc:id="adc0a0a3-0c62-4353-9686-12562e391e58" variableName="firstname"/>
		<set-payload value="Hello" doc:name="Hello" doc:id="58d2276b-9176-4ea0-a6fa-232247e88319" />
		<http:request method="GET" doc:name="GET/goodbye" doc:id="26a9a8f8-fb91-4dcf-ad45-f6ff6125dde6" config-ref="HTTP_Request_configuration" path="/goodbye" responseTimeout="300000">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"firstname" : attributes.queryParams.lname
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="payload" doc:id="52da9509-7eb7-4368-b81c-8fdf252ff4ee" message="#['\nMessage:' ++ payload]"/>
	</flow>
	<flow name="goodByeFlow" doc:id="c6f11005-fcce-4c48-82ad-14fdb62f9d01" >
		<http:listener doc:name="GET/goodbye" doc:id="e2c22b16-7c51-4f92-ba7c-d91528b7d276" config-ref="HTTP_Listener_config" path="/goodbye">
			<http:response >
				<http:headers ><![CDATA[#[output application/java
---
{
	"Key" : "Value"
}]]]></http:headers>
			</http:response>
		</http:listener>
		<set-payload value="#['Goodbye' ++ ' ' ++ (attributes.queryParams.firstname default 'Maxine')]" doc:name="Goodbye" doc:id="baa12805-0ad4-469d-88a2-499ae6c00dd1" />
		<logger level="INFO" doc:name="fullnamer" doc:id="102ad182-9143-4696-a7ab-21e7477fd4ad" message="#[attributes.queryParams.fname]"/>
	</flow>
</mule>
